*{
	margin: 0;
	padding: 0;
}


body{
	max-width: 1000px;
	margin: auto;
	background-color: #DDDDDD;
}

#head img{
	width: 100%;
	height: 50%;
}

#MENU{
	margin-top: 10px;
	font-family: sans-serif;
}

#MENU ul{
	list-style-type: none;
	background:#1f5688;
	text-align: center;
	overflow:none;
}

#MENU ul li{
	color: #f1f1f1;
	display:inline-table;
	width: 15%;
	line-height: 30px;
	position: relative;
}

#MENU ul li a{
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}

#MENU ul li a:hover{
	background: #f1f1f1;
	color: #333;
}

#main{
	max-width: 100%;
	margin-top: 2em;

}

#main #left-main{
	float:left;
	width: 20%;
}

#main #left-main #user{
	background-color: #FFFFFF;
}

#main #left-main #user img{
	margin-top: 10px;
	width: 95%;
	margin: 2.5%;
}

#main #left-main #user table{
	width: 100%;
	text-align: center;
}

#main #left-main #user input{
	padding: 5px;
	margin: 20px;
	border:none;
	cursor:pointer;
	border-radius: 3px;
	width: 29%;
	color: white;
	background: #1abc9c;
	text-align: center;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5);	
}

#main #left-main #user input:hover{
	transform: translateY(-5px);
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.5);
}

#main #left-main #chucnang{
	background: #FFFFFF;
	margin-top: 20px;
	border-radius: 3px;
	padding-bottom: 5px;
}

#main #left-main #chucnang #tenchucnang{
	background: #1abc9c;
	padding: 10px;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #FFFFFF;
	font-size: 20px;
}

#main #left-main #chucnang #menuchucnang{
	margin-top: 10px;
	font-family: sans-serif;
}

#main #left-main #chucnang #menuchucnang ul{
	list-style-type: none;
	text-align: center;
	padding: 0;
}

#main #left-main #chucnang #menuchucnang ul li{
	color: #000000;
	width: auto;
	padding-top: 5px;
	margin: 5px;
	border-bottom: 1px solid #e8e8e8;
}

#main #left-main #chucnang #menuchucnang ul li a{
	text-decoration: none;
	color: #333;
	display: block;
	font-weight: bold;
	position: relative;
}

#main #left-main #chucnang #menuchucnang ul li a:hover{
	background: #1abc9c;
	color: #FFFFFF;
}

#main #chinhsuabaiviet{
	background: #FFFFFF;
	margin-left: 1%;
	float: left;
	width: 79% ;
	margin-bottom: 5em;
	border-radius: 1em;
}

#main #chinhsuabaiviet #tenbang{
	background: #339900;
	padding: 1.5em;
	border-top-left-radius: 0.8em;
	border-top-right-radius: 0.8em;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
}

#main #chinhsuabaiviet table{
	margin: auto;
	width: 90%;
}

#main #chinhsuabaiviet #nhap{
	margin: 10px;
}

#main #chinhsuabaiviet #nhap input{
	display:block;
	border: none;
	padding: 10px 0;
	border-bottom: solid 1px #1abc9c;
	background: linear-gradient(to bottom, rgba(300,300,300,0) 96%, #1abc9c 4%);
	background-repeat: no-repeat;
	background-position: -300px 0;
	background-size: 300px 100%;
	color: #0e6252;
	transition: 1s ease all;
}